/* Add fonts */
@import url('https://fonts.googleapis.com/css?family=Work Sans');

html,h1,h2,h3,h4,h5,h6,a{
font-family: "Work Sans";
}

/* Navbar section style */
.navbar{ 
background:#10abb8; 
}
.nav-link , .navbar-brand{ 
color: #f4f4f4; 
cursor: pointer; 
}
.nav-link{ 
margin-right: 1em !important; 
}
.nav-link:hover{ 
background: #f4f4f4; 
color: #10abb8; 
}
.navbar-collapse{ 
justify-content: flex-end; 
}
.navbar-toggler{ 
background:#fff !important; 
}
.navbar-collapse{ 
justify-content: flex-end; 
}

/* Header section style */
.header{
background-image: url('../images/pm_selfie_compressed.png');
background-attachment: fixed;
background-size: contain;
background-position: center;
position: relative;
display: flex;
}

.header::before{
content:"";
position: absolute;
min-height: 100%;
min-width: 100%;
left: 0;
top: 0;
background: rgba(255, 255, 255, 0.75);
}

.description{
position: absolute;
top: 30%;
left: 20%;
margin: auto;
padding: 2em;
}
.description h1{
color:#10abb8 ;
font-size: 45px;
}
.description p{
color:#666;
font-size: 25px;
width: 50%;
line-height: 1.5;
}
.description button{
border:1px  solid #10abb8;
background:#10abb8;
color:#fff;
}
   
/* About section style */
.about{
margin: 4em 0;
padding: 1em;
position: relative;
}
.about h1{
color:#10abb8;
margin: 2em;
}
.about img{
height: auto;
width: 100%;
border-radius: 50%
}
.about span{
display: block;
color: #888;
position: absolute;
left: 115px;
}
.about .desc{
padding: 2em;
border-left:4px solid #10abb8;
}
.about .desc h3{
color: #10abb8;
}
.about .desc h6{
color: #10abb8;
}
.about .desc p{
line-height:2;
color:#888;
}

/* Portfolio section style */
.portfolio{
margin: 4em 0;
padding: 1em;
position: relative; 
}
.portfolio h1{
color:#10abb8;
margin: 2em; 
}
.portfolio .card{
box-shadow: 0 0 20px #ccc;
}
.portfolio .card img{
width: 100%;
height: 16em;
}
.portfolio .card-title{
color:#10abb8;   
}
.portfolio .card-body{
padding: 1em;
}
.portfolio .img-fluid{
border-width: 15px;
border-style: solid;
border-color: #ffff;
}
#pm-image{
filter: opacity(25%);
}

/* More Information section style */
.more{
margin: 4em 0;
padding: 1em;
position: relative;
}
.more h1{
color:#10abb8;
margin: 2em;
}
.more h3{
text-align: center;
}
.more img{
display: block;
margin: auto;    
height: 100%;
width: auto;
border-radius: 50%
}
.more span{
display: block;
color: #888;
position: absolute;
left: 115px;
}
.more .desc{
padding: 2em;
border-left:4px solid #10abb8;
}
.more .desc h3{
color: #10abb8;
}
.more .desc p{
line-height:2;
color:#888;
}